<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body class="container">
    <div class="mt-5">
        <%if (error && error.length> 0) { %>
            <p style="color:red">
                <%= error %>
            </p>
            <% } %>
                <form action="/user-update" method="POST" name="form">
                    <input type="hidden" name="_id" value="<%= user._id %>">

                    <div class="form-group">
                        <label for="exampleInputName">Name</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Enter name"
                            value="<%= user.name %>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email"
                            value="<%= user.email %>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputMobile">Mobile</label>
                        <input type="number" name="mobile" class="form-control" id="mobile" placeholder="Enter mobile"
                            value="<%= user.mobile %>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputMobile">Mobile</label>
                        <select name="city" id="city" class="form-control">
                            <option value=""> Select any city.</option>
                            <% cities.forEach((city)=> { %>
                                <option value='<%=city.name%>' <%if(user.city==city.name){ %>
                                    selected
                                    <% } %>
                                        >
                                        <%=city.name%>
                                </option>

                                <% }); %>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Update">
                    <a href="/" class="btn btn-success ml-2">Back to view </a>
                </form>
    </div>
</body>

</html>